<div class="container">
  <div class="row">
    <div *ngFor="let series of ids.series; let idx = index" class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{series}}</h2>
        </div>
        <div class="panel-body">
          <ul>
            <span *ngFor="let story of stories">
              <span *ngFor="let storySeries of story.series">
                <li *ngIf="storySeries == idx">
                  {{story.title}}
                </li>
              </span>
            </span>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
