<div class="container">
  <div class="row">
    <div *ngFor="let series of ids.series; let idx = index">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{series}}</h2>
        </div>
        <div class="panel-body">
          <table class="table table-hover">

            <tr>
              <th>Title</th>
              <th>Status</th>
              <th>Description</th>
            </tr>

            <tr *ngFor="let story of stories">
              <td *ngIf="isInSeries(story, idx)">{{story.title}}</td>
              <td *ngIf="isInSeries(story, idx)">{{story.status}}</td>
              <td *ngIf="isInSeries(story, idx)">{{story.desc}}</td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
