<div class="container">
  <div class="row">
    <div *ngFor="let status of ids.status; let idx = index">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{status}}</h2>
        </div>
        <div class="panel-body">
          <table class="table table-hover">

            <tr>
              <th>Title</th>
              <th>Series</th>
              <th>Description</th>
            </tr>

            <tr *ngFor="let story of stories">
              <td *ngIf="story.status == idx" (click)="goToStory(story)">
                {{story.title}}
              </td>
              <td *ngIf="story.status == idx" (click)="goToStory(story)">
                <span *ngFor="let ser of story.series; let idx = index">
                  <!-- in one line to avoid whitespace -->
                  <span *ngIf="ser == 0">None</span><span *ngIf="ser == 1">Corn</span><span *ngIf="ser == 2">Three Sentimental Novellas</span><span *ngIf="ser == 3">Tampa Stories</span><span *ngIf="idx + 1 < story.series.length">,</span>
                </span>
              </td>
              <td *ngIf="story.status == idx" (click)="goToStory(story)">
                {{story.desc}}
              </td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
