<div *ngIf="story">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">{{story.title}}</h2>
    </div>

    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="id">ID:</label>
          <div class="form-control">{{story.id}}</div>
        </div>
        <div class="form-group">
          <label for="title">Title:</label>
          <input [(ngModel)]="story.title" type="text" placeholder="title" class="form-control">
        </div>
        <div class="form-group">
          <label for="status">Status:</label>
          <div class="form-control">
            <span *ngIf="story.status == 0">Working</span>
            <span *ngIf="story.status == 1">Drafted</span>
            <span *ngIf="story.status == 2">To-Write</span>
            <span *ngIf="story.status == 3">Complete</span>
          </div>
        </div>
        <div class="form-group">
          <label for="series">Series:</label>
          <div class="form-control">
            <span *ngFor="let ser of story.series; let idx = index">
              <span *ngIf="ser == 0">None</span><span *ngIf="ser == 1">Corn</span><span *ngIf="ser == 2">Three Sentimental Novellas</span><span *ngIf="idx + 1 < story.series.length">,</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="desc">Description:</label>
          <textarea class="form-control" rows="3" [(ngModel)]="story.desc"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
