<div *ngIf="story">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">{{story.title}}</h2>
    </div>

    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="id">ID:</label>
          <div class="form-control">{{story.id}}</div>
        </div>
        <div class="form-group">
          <label for="title">Title:</label>
          <input [(ngModel)]="story.title" type="text" placeholder="title" class="form-control">
        </div>
      </form>
    </div>
  </div>
</div>
