<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">All Stories</h2>
  </div>
  <div class="panel-body">
    <!-- Table view -->
    <table class="table table-hover">
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Series</th>
        <th>Description</th>
      </tr>
      <tr *ngFor="let story of stories">
        <td (click)="goToStory(story)">{{story.title}}</td>
        <td (click)="goToStory(story)">
          <span *ngIf="story.status == 0">Working</span>
          <span *ngIf="story.status == 1">Drafted</span>
          <span *ngIf="story.status == 2">To-Write</span>
        </td>
        <td (click)="goToStory(story)">
          <span *ngFor="let ser of story.series; let idx = index">
            <span *ngIf="ser == 0">None</span><span *ngIf="ser == 1">Corn</span><span *ngIf="ser == 2">Three Sentimental Novellas</span><span *ngIf="idx + 1 < story.series.length">,</span>
          </span>
        </td>
        <td (click)="goToStory(story)">{{story.desc}}</td>
      </tr>
    </table>
  </div>
</div>
